.btn {
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: $whitish;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  &--red {
    background-color: $redAccent;
  }
  &--medium {
  }
}
