.large-hero {
  @mixin atMaxSmallest {
    min-height: 640px;
    height: 65vh;
    .large-hero__image {
      display: none;
    }
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  }
  @mixin atSmall {
    .large-hero__background {
      display: none;
    }
    background: $redAccent;
  }
  min-height: 640px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  &__text-content {
    position: relative;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
  }
  &__title {
    font-size: 3rem;
    color: $whitish;
    font-weight: 700;
    text-align: center;
    @add-mixin embossedText;
    @mixin atMaxSmallest {
      color: $whitish;
    }
    @mixin atSmall {
      color: $blueMain;
    }
  }
  &__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    box-shadow: $boxShadow-large;

    @mixin atSmall {
      font-size: 2rem;
    }
  }
  .large-hero__description {
    font-size: 1.1rem;
    font-weight: 600;
    color: $whitish;
    text-shadow: $textShadow;
  }
  &__image {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid blue;
    img {
      width: 100px;
      height: 100px;
      opacity: 0.2;
    }
    /*&::before {
      position: absolute;
      content: " ";
      height: 100%;
      width: 100%;
       background: url("assets/images/3px-tile.png");
      background-color: $greenLight;
      opacity: 0.5;
      display: block;
    }*/
    overflow: hidden;
    position: relative;
  }
}
