.gamer-video {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 50vh;
  @mixin atLarge {
    height: 80vh;
  }
  &__iframe {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
    width: 100%;
    height: 100%;
    @mixin atLarge {
      max-height: 80vh;
    }
    background-image: url(assets/images/apexLegend.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  &__navigation {
    border: 1px solid red;
    grid-column: 1 / span 12;
    grid-row: 9 / span 2;
    @mixin atLarge {
      grid-column: 5 / span 4;
      grid-row: 10 / span 4;
    }
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0;
    li {
      list-style: none;
      cursor: pointer;
      margin: 0 0.625rem;
      background-color: #fff;
      padding: 3px 3px;
      opacity: 0.9;
      border-radius: 4px;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        transition: scale 0.5s ease-in-out;
        &:hover {
          border-radius: 4px;
          border: 3px solid #fff;
          transform: scale(1.2);
        }
      }
    }
  }
}
.ytp-title,
.ytp-pause-overlay {
  display: none;
}
